# Supabase settings
PUBLIC_SUPABASE_URL=http://127.0.0.1:54321
PUBLIC_SUPABASE_ANON_KEY=sb_publishable_ACJWlzQHlZjBrEguHvfOxg_3BJgxAaH
PRIVATE_SUPABASE_SERVICE_ROLE=sb_secret_N7UND0UgjKTVK-Uodkm0Hg_xSvEMPvz